body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  /* background: #111; */
}

nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

nav a:hover {
  color: #f1f1f1;
}

.navigation a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.navigation a:hover {
  color: #f1f1f1;
}

.navigation {
  list-style: none;
  /* background: #111; */
  /* background: rgb(73, 133, 93); */
  /* width: 100%; */
  width: 160px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 160px;
  z-index: 0;
  /* overflow-x: hidden; */
  overflow: hidden;
}

.navigation:hover {
  overflow-y:auto;
}

.site-wrap {
  /* min-width: 100%; */
  min-height: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 160px;
  /* right: -200px; */
  z-index: 1;
  padding: 4em;
  overflow-wrap: normal;
  /* overflow-x: auto; */
  /* background-image: linear-gradient(135deg,
                    rgb(254,255,255) 0%,
                    rgb(221,241,249) 35%,
                    rgb(160,216,239) 100%);
  background-size: 200%; */
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  top: 15px;
  left: 175px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

.nav-trigger:checked + label {
  left: 375px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 360px;
  width: calc(100% - 500px);
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger:not(:checked) ~ .site-wrap {
  width: calc(100% - 300px);
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
  /* transition: left 0.2s; */
  transition: 0.2s;
  /* transition: width 0.2s; */
}









.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
  overflow-x: visible;
  min-height: 100%;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
